body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg) center center fixed;
    background-size: cover;
    
}

main {
	
    background-image: linear-gradient( 150deg, rgba(21, 56, 20, 0.65), transparent);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.blackboardcontainer {
    margin: 0 auto;
}

.grid {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    display: grid;
    background: black;
    /*border: tan solid 14px;
    border-top: #bda27e solid 14px;
	border-left: #b19876 solid 14px;
    border-bottom: #c9ad86 solid 14px;*/
}

.slidercontainer {
    transform: rotate(-90deg);
    margin-left: 650px;
    margin-top: -300px;
}

.slider {
    appearance: none;
    width: 200px;
    height: 20px;
    background: grey;
    outline: none;
    border-radius: 20px;
    margin-right: 0;
}
